<div class="card card-body mb-2">
  <p><b>Your Name:</b>{{name}}</p>
  <p><b>Your Email</b>{{email}}</p>
  <p><b>Your Avatar:</b>
    form
  </p>
  <br />
  <form action="/users/profile" enctype="multipart/form-data" method="POST">
    <div>
      <label for="avatarUpload" class="form-label">Upload New Image for Avatar</label>
      <input
        type="file"
        name="avatarUpload"
        id="avatarUpload"
        class="form-control"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Upload Avatar</button>

  </form>
</div>